
.aside-slider {
  position: relative;
  margin-top: 1.4rem;
  background: $yellow;

  > .btns {
    display: flex
  }

  > .btns > .btn,
  > .btns > .btn > .link {
    flex: 1;
  }

  .aside-slider-left,
  .aside-slider-right {
    z-index: 1000;
    position: absolute;
    top: 15%;
    background: $brown;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
  }

  .aside-slider-left::before,
  .aside-slider-right::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    fill: #fff;
    background: url('../icons/next-white.svg') no-repeat center / cover;
  }

  .aside-slider-left {
    left: -1.3rem;
  }

  .aside-slider-left::before {
    transform: rotateZ(90deg)
  }

  .aside-slider-right {
    right: -1.3rem;
  }
  .aside-slider-right::before {
    transform: rotateZ(-90deg)
  }
}

.aside-slider-wrap {

  .item > .title {
    font-family: 'IntroBoldCaps';
    text-transform: uppercase;
    text-align: center;
    font-size: 1.9rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }

  .item > .sub-title {
    text-align: center;
    margin-bottom: 1.4rem;
  }

  .item > .image {
    display: inline-table;
    position: relative;
    min-height: 370px;
    background: #fff;
    margin: 5px;
  }

  .item > .image > img {
    display: block;
    /*padding: 5px;*/
    max-width: 100%;
  }

  .item > .image > .prices {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: left;
  }


  .item > .image > .prices > .sale {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    background: #fff;
  }

  .item > .image > .prices > .price {
    flex-wrap: 600;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0.7rem;
    background-color: $red;
  }

}