
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  background-color: #eff3f6;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

a {
  
  &,
  &:link,
  &:visited {
    color: $gray;
    text-decoration: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: $red;
  }

}


.currency {
  font-family: Rubl Regular;
  font-size: 1rem;
  margin-left: 4px;
}