
footer
  .wrap
    .input-search
      input(type="text" placeholder="Искать товар по названию").input.-full
      .search.-yellow 
        include ../static/icons/search.svg
        | Найти
    .exemple Например: DJI Phantom 3 Advanced

    .footer-menu
      .container-fluid
        .row
          .col-xs-6
            .title КАТАЛОГ РАДИОУПРАВЛЯЕМЫХ МОДЕЛЕЙ
            ul.list
              li 
                a(href="#") Квадрокоптеры
              li 
                a(href="#") Вертолеты
              li 
                a(href="#") Самолеты
              li 
                a(href="#") Машины с ДВС
              li 
                a(href="#") Машины с электродвигателями
              li 
                a(href="#") Роботы
              li 
                a(href="#") Танки
              li 
                a(href="#") Катера
              li 
                a(href="#") Ракеты
              li 
                a(href="#") Аксессуары
              li 
                a(href="#") Расходные материалы

          .col-xs-3
            .title О КОМПАНИИ
            ul.list
              li 
                a(href="#") О компании
              li 
                a(href="#") Бренды
              li 
                a(href="#") Доставка
              li 
                a(href="#") Информация
              li 
                a(href="#") Отзывы на модели

          .col-xs-3
            .title КОНТАКТЫ
            .contacts
              .name Бесплатный звонок по России
              a.text(href="mailto:88007753106@mail.ru") E-mail: 88007753106@mail.ru
              a.text(href="tel:8-800-775-3106") 8-800-775-3106
            .contacts
              .name Скворцов Игорь Игоревич
              a.text(href="mailto:E-mail: igor.s@centr-to.ru") E-mail: E-mail: igor.s@centr-to.ru
              a.text(href="tel:8-913-070-5566") 8-913-070-5566
            .contacts
              .name Артеев Артур Семенович
              a.text(href="mailto:artur.a@centr-to.ru") E-mail: artur.a@centr-to.ru
              a.text(href="tel:8-913-070-0066") 8-913-070-0066
            .contacts
              .name Кувшинов Алексей Александрович
              a.text(href="mailto:aleksey.k@centr-to.ru") E-mail: aleksey.k@centr-to.ru
              a.text(href="tel:8-913-070-0807") 8-913-070-0807

        .row
          .col-xs-3.bd-r
            .logo
              img(src="images/logo-lg.png", alt="Логотип")
            address ИНН 234242343252435<br>ОГРН 234121312341234<br>Юридический адрес:<br>г. Кемерово, ул. Ленина 131

          .col-xs-9
            .desc
              p Все материалы, размещенные на сайте являются собственностью компании "Центр технического оборудования" и защищена законом. Перепечатка, копирование, воспроизведение и распространение в любом объеме информации, размещенной на сайте , возможна только с письменного согласия ООО "Центр технического оборудования".
              p Информация на данном интернет-сайте носит исключительно информационный (ознакомительный) характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ. Для получения исчерпывающей информации о стоимости и характеристиках товаров обращайтесь к менеджерам по продажам.
          
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="../scripts/owl.carousel.min.js")
script(src="../scripts/script.js")